*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: red;
    font-family: cursive;
}

main{
    display: flex;
    flex-wrap: wrap;
    width:100vw;
    section.left{
        background: url("imgs/heroImg.jpg") no-repeat center;
        background-size: cover;
        width: max(375px,40vw);
        height: 100vh;
        position: relative;
        color: bisque;
        header{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: 2.5rem;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            background-color: rgba(0,0,0,0.63);

            img{
                width: 7rem;
                z-index: 1;
            }
        }
        footer{
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;
            
        }
    }
    section.right{
        width: 60vw;
    }
}