:root{
    --main-bg: #080808;
    --secondary-bg: #090909;
    --font-color: #adb5bd;
    --accent-color: #4c6ef5;
    --input-color: #868e96;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg);
    line-height: 1.25;
}

main{
    display: flex;
    width:100vw;
    section.left{
        background: url("imgs/book_blue.jpg") no-repeat center;
        background-size: cover;
        width: max(375px,40vw);
        height: 100vh;
        min-height: 660px;
        position: relative;
        header{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            width: 100%;
            position: absolute;
            top: 36%;
            letter-spacing: -.25px;
            font-size: 2rem;
            font-family: 'Poppins', sans-serif;
            transform: translateY(-50%);
            background-color: rgba(0,0,0,0.82);
            color: var(--accent-color);
            padding: 1.5rem;
            img{
                width: 4rem;
                z-index: 1;
            }
        }
        footer{
            display: flex;
            justify-content: center;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 0.5rem;     
        }
    }
    section.right{
        display: flex;
        flex-direction: column;
        width: 60vw;
        min-height: 100vh;
        .header-description{
            line-height: 1.4;
            font-size: 1.05rem;
            margin: 3vh 3vw;
            h3:last-of-type{
                margin-top: 1vh;
            }
        }    
    }
    fieldset{      
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border: none;
        padding: 2rem 3rem;
        background-color: var(--secondary-bg);
        box-shadow: 0 2px 8px rgba(28,28,28,.9);

        div.input-container{
            margin-bottom: 1.5rem;
            label{
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                color: var(--input-color);
                margin-bottom: .4rem;   
            }
            input{
                width: max(230px, 80%);
                min-height: 28px;
                font-size: 16px;
                color: var(--input-color);     
                border: 1.25px solid var(--input-color);
                background-color: var(--secondary-bg);
                border-radius: 4px;
                padding-left: .15rem;
                outline: none;
            }
            input:focus{
                border: 1.25px solid var(--accent-color);
            }
        }
        h3.description{
            font-size: 1.25rem;
            color: var(--accent-color);
            grid-column: 1/span 2;
            margin-bottom: 1.5rem;
        }
    }
    .button-container{
        padding: 2rem 3rem;
        button{
            display: inline-block;
            font-size: 1.15rem;
            font-weight: 700;
            color: var(--accent-color);
            background-color: var(--main-bg);
            border: 2px solid var(--accent-color);
            border-radius: 4px;
            padding: .85rem 1.75rem;
            margin-bottom: 1rem;
            cursor: pointer;

        }
        a{
            cursor: pointer;
            color: var(--accent-color);
        }
        button:hover{
            background-color: var(--accent-color);
            color: var(--main-bg);
            border: 2px solid var(--accent-color);
        }
        button:active{
            transform: scale(.975);
        }
        a:hover{
           transform: scale(.975);
        }
        a:active{
            transform: scale(.975); 
        }
    }
}
footer.mobileFooter{
    display: none;
}

//Media Query for Tablet view
@media (max-width: 1080px){
    main{
        section.right{
            .header-description{
                font-size: 1rem;
                margin:1.25rem 1.5rem;
                margin-top: 3.25vh;
                h3:last-of-type{
                    margin-top: .5rem;
                }
            }  
        }
        fieldset{
            padding: 1.25rem 1.5rem;
            margin: 1rem 0;
            div.input-container{
                margin-bottom: 1.25rem;
            }
            h3.description{
                font-size: 1.15rem;
                color: var(--accent-color);
                grid-column: 1/span 2;
                margin-bottom: 1.25rem;       
            }
        }
        .button-container{
            padding: 0rem 1.5rem;
        }
    }
}

//Media Query for Tablet View
@media (max-width: 860px){
    main{
        flex-direction: column;
        section.left{
            height: 22.5rem;
            min-height: 280px;
            width: 100vw;
            header{
                top: 50%;
                transform: translateY(-50%);
            }
            footer{
                display: none;
            }
        }
        section.right{
            min-height: 50vh;
            width: 100vw;
            align-items: center;
            .header-description{
                text-align: center;
                h3:last-of-type{
                    margin-top: 1rem;
                }
            } 
        }
        fieldset{
            width: 100vw;
            align-items: center;
            column-gap: 2.5rem;
            padding: 2.25rem 4rem;
            margin:1.5rem 0;
            div.input-container{
                input{
                    width: max(240px, 100%);
                }
            }
            h3.description{
                font-size: 1.15rem;
                color: var(--accent-color);
                grid-column: 1/span 2;
                text-align: center;   
            }
        }
        .button-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0rem 1.5rem;
        }
    }
    footer.mobileFooter{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        bottom:  -3.75rem;
        font-size: 14px;
        padding: 6px;      
    }
}

//Media Query for Mobile View
@media (max-width: 580px){
    main{
        section.left{
            width: 100vw;
            height: 17.5rem;
        }
        section.right{
            .header-description{
                font-size: 1rem;
                margin: 1.25rem .75rem;
                margin-top: 3.25rem;
                h3:last-of-type{
                    margin-top: .5rem;
                }
            }  
        }
        fieldset{
            grid-template-columns: 1fr;
            div.input-container{
        
            }
            h3.description{
                grid-column: 1;

            }
        }
    }
}